<div class="small__card--container">
    <div class="line hr__top">
        <hr>
    </div>
    <div class="small__card--container__flex">
        <div class="small__card--picture">
            <a [routerLink]="['content', Id]">
                <img src="{{ photoCover }}"
                    alt="">
            </a>
        </div>

        <div class="small__card--description">
            <p class="date-title">{{ dateCard }}</p>

            <h1>{{ cardTitle }}</h1>
        </div>
    </div>

    <div class="line">
        <hr>
    </div>
</div>
