<div class="small__card--container">
    <div class="small__card--container__flex">
        <div class="small__card--picture">
            <a href="">
                <img src="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
            </a>
        </div>

        <div class="small__card--description">
            <p class="date-title">3 de março de 2024</p>

            <h1>Um dos alimentos favoritos da tartaruga verde de Galápagos (Chelonia mydas) é a água-viva.</h1>
        </div>
    </div>

    <div class="line">
        <hr>
    </div>
</div>
