<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://images.unsplash.com/photo-1546026423-cc4642628d2b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            cardTitle="Os recifes de corais são importantes ambientes marinhos e possuem uma rica biodiversidade." 
            cardDescription="Os recifes de corais são importantes ecossistemas que abrigam uma grande quantidade de formas de vida marinha, fornecendo-as abrigo e proteção."
            dateCard="3 de março de 2024">
        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card
            photoCover="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            cardTitle="Um dos alimentos favoritos da tartaruga verde de Galápagos (Chelonia mydas) é a água-viva."
            dateCard="5 de março de 2024">
        </app-small-card>

        <app-small-card 
            photoCover="https://plus.unsplash.com/premium_photo-1684943834574-8371ce37639f?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            cardTitle="Existem dois tipos de baiacu mais comuns no Brasil: o arara e o pintado"
            dateCard="5 de março de 2024">
        </app-small-card>

        <app-small-card
            photoCover="https://images.unsplash.com/photo-1580841129862-bc2a2d113c45?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            cardTitle="Na verdade, os caranguejos, assim como os camarões, são representantes de um agrupamento de artrópodes (grupo de animais invertebrados) chamado Crustacea."
            dateCard="5 de março de 2024">
        </app-small-card>
    </div>
</div>
